.cards {
  display: flex;
  flex-wrap: nowrap;
  margin: 50px 40px;
}
.card{
  flex-basis: 180px;
  margin: 10px;
}
.card {
display: flex;
    justify-content: flex-start;
    padding: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 220px;
    align-items: center;
}
.card img {
  width: 170px;
  height: -webkit-fill-available;
  filter: saturate(60%) brightness(97%);
}
.card h4{
  margin: 0px;
  margin-top: 5px;
}

.card p{
  margin: 0px;
}
