@font-face {
    font-family: "Catamaran";
    src: url('Catamaran-VariableFont_wght.ttf');
}

.text_header{
	display:inline-block
} 

.Lidhês img {
  vertical-align: left;
}

<div class='Lidhês_description'>
{
  vertical-align: right;
  border: 2px solid #ccc;
  font-size: 15px;
  line-height: 150px;
}

.Lidhês_description
{
	ul {list-style-type: none;}
}

.Kajsi

img 
{
  vertical-align: left;
}

<div class='Kajsi_description'>{
  vertical-align: right;
  border: 2px solid #ccc;
  font-size: 15px;
  line-height: 150px;
}

.Kajsi_description
{
	ul {list-style-type: none;}
}

.Gëzmi

img 
{
  vertical-align: left;
}

<div class='Gëzmi_description'>
{
  vertical-align: right;
  border: 2px solid #ccc;
  font-size: 15px;
  line-height: 150px;
}

.Gëzmi_description
{
	ul {list-style-type: none;}
}
