#text-home_page{
	padding-left: 50px;
}
#banner_child{
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%), url(../../images/banner_child.png); 
}
#banner_contact{
    background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%), url(../../images/image-contact.png); 
}
#banner_about_us{
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%), url(../../images/about_us.jpeg)
}
#additional_products_image{
	filter: saturate(60%) brightness(97%)
}
