.main_image
{
	width: 400px;
	height: 400px;
	object-fit: cover;
}

.medium_image
{
	width: 285px;
	height:285px;
	object-fit: cover;
	filter: saturate(60%) brightness(97%)
}

.values_image
{
	width: 100px;
	height: 100px;
	object-fit: cover;
}
.small_image
{
	width: 150px;
	height: 150px;
	object-fit: cover;
	filter: saturate(60%) brightness(97%)
}
.icon_image{
	width: 30px;
	height: 32.5px;
	object-fit: cover;
}
