.list-inline {
    list-style: none;
    padding-left: 120px;
    padding-right: 120px;
    align-items: center;

 }
 .list-inline img{
    text-align: center;
    max-width: 70px;
    max-height: 100px;
 }
 .list-inline li{
	display: inline;
	padding: 10px;

}

.list-left{
	list-style-type: none;
	list-style: none;
	padding: 0px;
}

.list-inline-footer i{
	list-style: none;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 40px;
}

.list-inline-footer{
	list-style: none;
	padding-right: 100px;
	padding: 0px;
}

.list-inline-footer li{
	display: inline;
	padding: 10px;
}






