.boxs_product {
    display: flex;
    flex-wrap: nowrap;
    margin: 50px 0px;
}

.box_product {
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 400px;
    align-items: start;

}
.box_product h4 {
    margin: inherit;
}
















