.boxs_product {
    display: flex;
    flex-wrap: nowrap;
    margin: 50px 0px;
}

.box_product {
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 400px;
    align-items: start;

}
.box_product h4 {
    margin: inherit;
}

#quantity {
  padding: 11px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid none;
  height: auto;
  width: 157px;
  left: auto;
}














